{% extends "templates/app.twig" %}

{% block content %}
    <main class="page-login">
        {% include "includes/rules.twig" %}
        {% include "includes/login.twig" %}
    </main>
{% endblock %}
