{% extends "templates/app.twig" %}

{% block content %}
	<main>
		<section class="form-login">
			<h1>Bienvenido(a)</h1>
			<form id="login" action="/" method="post">
				<input type="text" name="username" placeholder="Usuario" title="Escriba el nombre de usuario" autofocus>
				<input type="password" name="password" placeholder="Contrase침a" title="Escriba la contrase침a de acceso">
				<input type="submit" title="Iniciar sesi칩n" value="Iniciar Sesi칩n">
			</form>
			{% include "includes/section-rules.twig" %}
		</section>
	</main>
{% endblock %}
