### Composer ###
composer.phar
vendor/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/

### Intellij IDEA ###
.idea/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### DotEnv ###
.env

### NPM | NODE ###
node_modules/

### Public Assets ###
public/**/*.js
public/**/*.css

### Logs ###
logs/
*.log
