### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

### PHP and Jekyll ###
vendor

### Node ###
node_modules

### VisualStudioCode ###
.vscode/

# Ignore all local history of files
.history

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### DotEnv ###
.env

### PHP ###
composer.phar
