a:link,a:visited {
	color: #52aa36;
	font-family: arial, helvetica, sans-serif;
}
a:hover {
	color: #777;
	text-decoration: none;
}
p{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	/* color: #000; */
	/* text-align: justify; */
}
h1 {
	color: #3f631e;
	font-size: 1.4em;
	text-align:center;
	/* font-family: Arial, Helvetica, sans-serif; */
	text-decoration: none;
}
h2 {
	color: #3f631e;
	text-align: center;
	font-size: 1em;
	border-top: 3px solid #3f631e;
	border-bottom: 1px solid #3f631e;
	background-color: #F6F8F3;
	padding: 0 0 2px 5px;
}
table {
	margin: 0 auto;
	text-align: left;
	width: 700px;
	border-collapse:collapse;
	border:2px solid #3f631e;
}
thead th {
	font-size: 12pt;
	background-color:#688e4d;
	height: 20px;
	color: #fffdfd;
	font-weight: bold;
	padding: 0px 7px;
	/* margin: 20px 0px 0px; */
	text-align: center;
	border-top: 1px solid #3f631e;
	border-bottom: 1px solid #3f631e;
	/* border-right: 1px solid #FCF1D4; */
}
.cen {
	text-align: center;
}

.txtinicial {
        background-color:#ffca5e;
        padding: 20px 10px 10px 10px;
}

.firma {
	font-size:10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

tbody th,td {
	font-size: 9pt;
	/* line-height: 1.4em; */
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding: 5px 10px;
	vertical-align:top;
	/* border-top: 1px solid #FFCA5E; */
	/* border-right: 1px solid #DDDDDD; */
	/* text-align: justify; */
}
