{% extends "templates/app.twig" %}

{% block title %}
    {{ 'Admin' | capitalize }}
{% endblock %}

{% block content %}
<div class="admin">
    {% include "partials/header.twig" %}
    {% include "partials/sidebar.twig" %}
    <main class="admin__content">
        <h1>Contenido Principal</h1>
        {% include "includes/lorem.twig" %}
    </main>
    {% include "partials/footer.twig" %}
</div>
{% endblock %}

