body > .admin-home {
    background-color: inherit;
    max-height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 20vw) 1fr;
    grid-template-rows: min-content 1fr min-content;
    overflow-y: hidden;

    > * {
        border: 1px solid green;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 1em;
    }

    aside {
        background-color: #e4e4e4;
        max-width: 25vw;
        grid-column: 1/2;
        grid-row: 2/4;

        h3 {
            background-color: #688e4d;
            color: #fffdfd;
            font-weight: bold;
            padding: 1.5em;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                gap: 1em;
                padding: 1em;

                &:hover {
                    background-color: #fff;
                    cursor: pointer;
                }

                svg {
                    font-size: 1.7em;
                    width: 40px;
                }

                a {
                    font-weight: 600;
                }
            }
        }
    }

    main {
        padding: 2em 4em;
        overflow-y: scroll;
        max-height: 100%;

        div > h2 {
            padding: .8em;
        }

        p {
            line-height: 1.6;
            margin-bottom: .8em;
            text-align: justify;
        }
    }

    footer {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
