footer {
    background-color: #e4e4e4;
    color: var(--main-color);
    padding: .8em clamp(1em, 1.25em, 1.5em);

    /* Display */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    font-weight: 700;
}
