*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: var(--main-color);
    font: var(--default-font);
    min-height: 100dvh;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    margin-top: 1lh;
    margin-bottom: 0.5lh;
}

p {
    color: #666;
    line-height: 1.2lh;
    margin-bottom: 0.25lh;
}
