:root {
    /*  Colors */
    --primary-color: #00a65a;
    --secondary-color: #f39c12;
    --tertiary-color: #f56954;
    --quaternary-color: #00c0ef;
    --quinary-color: #3c8dbc;
    --senary-color: #d2d6de;
    --septenary-color: #ff851b;
    --octonary-color: #0073b7;
    --nonary-color: #39cccc;
    --white-color: #fff;
    --black-color: #000;
    --main-color: #333333;

    /* Font Styles */
    --default-font-style: normal;
    --default-font-variant-css21: normal;
    --default-font-weight: 400;
    --default-font-size: calc(15px + 0.390625vw);
    --default-font-family: 'Poppins', sans-serif;
    --default-font: var(--default-font-style) var(--default-font-variant-css21) var(--default-font-weight) var(--default-font-size) var(--default-font-family);
}
