
body {
    font: normal normal 400 calc(15px + 0.390625vw) 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: auto min-content;
}

main,
footer {
    width: 100%;
    max-width: 100vw;
}

main {
    display: grid;
    grid-template-columns: minmax(25%, min-content) 1fr;
    align-items: center;
}

main > * {
    padding: 0 4rem;
}











/* ADMIN */
a:link,
a:visited {
    color: #52aa36;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}
a:hover {
    color: #777;
    text-decoration: none;
}
p {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: justify;
}
h1 {
    color: #3f631e;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
}
h2 {
    color: #3f631e;
    text-align: center;
    font-size: 1em;
    border-top: 3px solid #3f631e;
    border-bottom: 1px solid #3f631e;
    background-color: #f6f8f3;
    padding: 0 0 2px 5px;
}
table {
    margin: 5px 5px 5px 5px;
    text-align: left;
    /* width: 600px; */
    border-collapse: collapse;
    /* border:3px solid #FFCA5E; */
    border: 3px solid #688e4d;
}
thead th {
    background-color: #688e4d;
    height: 47px;
    color: #fffdfd;
    font-size: 12pt;
    font-weight: bold;
    padding: 0px 7px;
    margin: 20px 0px 0px;
    text-align: center;
    border-right: 1px solid #fcf1d4;
}
.cen {
    text-align: center;
}

.nombrevota {
    background-color: #27330a;
    padding: 5px 5px 5px 5px;
    color: #fff;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

.vto {
    background-color: #ffca5e;
    height: 47px;
    color: #000;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 7px;
    margin: 20px 0px 0px;
    text-align: center;
    border: 3px solid #688e4d;
}

.txtinicial {
    background-color: #ffca5e;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    border: 3px solid #688e4d;
}

.desc {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: justify;
}

/* tbody tr.odd {
    background: #fff8e8 url(bg_td2.jpg) repeat-x;
} */

tbody th,
td {
    font-size: 0.8em;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding: 4px 7px;
    border-top: 1px solid #ffca5e;
    border-right: 1px solid #dddddd;
    text-align: justify;
}

td.cd:hover {
    background-color: #688e4d;
}
.enlace {
    color: #ffaa36;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

