{% extends "templates/app.twig" %}

{% block title %}
    {{ pageTitle | capitalize }}
{% endblock %}

{% block content %}
    <main class="user-home">
        <section class="form-login">
            <img src="assets/images/escudo-colegio.png" alt="Escudo de Colegio" width="250">
            <h2>
                <span>{{ institute.institucion }}</span>
                <span>{{ institute.descripcion }}</span>
            </h2>
            <form id="consulta" action="/card" method="post">
                <input type="text" name="documento" placeholder="Documento del estudiante" title="Escriba el documento del estudiante">
                {% if institute.clave == "S" %}
                    <input type="password" name="contra" placeholder="Contraseña" title="Escriba la contraseña de acceso">
                {% endif %}
                <input type="submit" name="envia_consulta" value="Ingresar" title="Ingresar al sistema">
            </form>
        </section>
        {% include "includes/section-rules.twig" %}
    </main>

    {% include "partials/footer.twig" %}
{% endblock %}
