<form class="form-login" action="/" method="post">
    <h2 class="form-login__title">Bienvenido(a)</h2>
    <input type="text" name="username" placeholder="Usuario" title="Escriba su nombre de usuario" autofocus>
    <input type="password" name="password" placeholder="Contrase침a" title="Escriba su contrase침a de acceso">
    <input type="submit" title="Iniciar sesi칩n" value="Iniciar Sesi칩n">
</form>
