<section class="rules">
	<img src="assets/images/escudo-colombia.png" alt="Escudo de Colegio" width="250">
	<h3>Para realizar el proceso de votación siga los siguientes pasos:</h3>
	<ul>
		<li>
			<img src="assets/icons/n1.png" alt="#1">
			<span>Ingrese al sistema de votación, escribiendo su número de documento (costado derecho de esta página).</span>
		</li>
		<li>
			<img src="assets/icons/n2.png" alt="#2">
			<span>Al ingresar al sistema encontrará el tarjetón electoral para votar por sus representantes preferidos.
				                    Seleccione los de su preferencia dando clic sobre la foto.</span>
		</li>
		<li>
			<img src="assets/icons/n3.png" alt="#3">
			<span>Para registrar su voto de clic en el botón<strong>votar</strong>.</span>
		</li>
	</ul>
</section>

