<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport" />
        <title>{% block title %}{% endblock %} | SVE</title>
        <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
            integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI="
            rel="stylesheet"
        />
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="https://kit.fontawesome.com/288f01bd1e.js" crossorigin="anonymous"></script>
        <script src="assets/js/bundle.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
