### Webpack Build ###
dist/

### Linux ###
*~

# KDE directory preferences
.directory

### VisualStudioCode ###
.vscode/

### Intellij IDEA ###
.idea/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### NPM | NODE ###
**/node_modules/
